body {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    width: 30em;
    gap: .5em;
    font-family: Helvetica, sans-serif;
}

label {
    height: 1em;
    width: 100%;
}

input {
    width: 100%;
}

.grid-title {
    font-size: 1.2em;
    font-weight: bold;
}

.program-text {
    text-align: right;
}
.program-text textarea {
    width: 100%;
    height: 10em;
    margin: .2em;
}

.program-text button {
    align-content: right;
}

.code-text {
    font-family: monospace;
}

.result-section {
    border: 1px dotted black;
    height: fit-content;
}

.code-result {
    border-top: 1px dashed gray;
    text-align: center;
    display: block;
    min-height: 1em;
    height: fit-content;
    
}